body {
    font-family: "Lexend";
    margin: 1;
    padding: 0;
}

#datetime {
    margin: 1;
    position: fixed;
    text-align: right;
    bottom: 0;
    right: 0;

}

#canvas_wrapper {
    position: relative;
}

#score, #tutorial {
    bottom: 170px; 
    margin: 0; 
    display: inline-block;
}

#score { 
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
    /* Position it relative to the canvas width */
    position: absolute;
    left: 400px;
    transform: translateX(-50%); /* Pulls it back by half its own width to perfectly center */
    top: 10px;
}

#score p {
    margin: 0;
    width: 50px;            
    text-align: center;      /* Center the score in the block */
}

#green_score {
    text-align: right; 
}

#red_score {
    text-align: left;  
}

#tutorial { 
    left: 200px; 
}