body {
    font-family: "Lexend";
    margin: 1;
    padding: 0;
}

#datetime {
    margin: 1;
    position: fixed;
    text-align: right;
    bottom: 0;
    right: 0;

}

#canvas_wrapper {
    position: relative;
}

#score, #tutorial {
    bottom: 170px; 
    margin: 0; 
    display: inline-block;
}

#score { 
    font-size: 24px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-left: 535px;
}

#score p {
    margin: 0;             /* Remove default paragraph margins */
    display: inline;       /* Make paragraphs inline */
}

#tutorial { 
    left: 200px; 
}